@import 'component/reset.styl'
@import 'component/util.styl'

@import 'common/base.styl'
@import 'common/loc.styl'

@import 'header.styl'

.pg-hd
    box-shadow 0 0 5px #d1c7da inset
    background #f3f0f6
    color #333
    .info .cart
        color #333

.icon-location
    display inline-block
    width 20px
    height 25px
    margin-right 12px
    bgImg(-236px, 0)
    vertical-align middle

//banner
.tc-banner
    position relative
    .arrow
        display none
        position absolute
        top 50%
        left 50%
        width 36px
        height 64px
        margin-top -32px
        cursor pointer
    .prev
        margin-left -555px
        bgImg(-326px, 0)
    .next
        margin-left 521px
        bgImg(-366px, 0)
    .con
        li
            a
                display block
                height 500px

.section-list
    background #f0f0f0
    .mod
        padding-top 60px
        .tit
            font-size 20px
            text-align center
        .list
            margin 15px -30px 0 0
            li
                float left
                height 400px
                overflow hidden
                margin 20px 29px 0 0
                background #fff
                font-size 12px
            .good
                position relative
                width 256px
                .top
                    display block
                    height 256px
                    .img
                        width 256px
                        height 256px
                .info
                    position absolute
                    bottom -80px
                    left 0
                    padding 0 16px 24px
                    background #fff
                    .name
                        display block
                        height 44px
                        overflow hidden
                        margin-top 17px
                        line-height 22px
                    .location
                        margin-top 26px
                    .des
                        height 36px
                        overflow hidden
                        margin-top 35px
                        padding-top 16px
                        border-top 1px solid #f0f0f0
                        color #8d8d8d
                        line-height 18px
            .destination
                width 540px
                a
                    display block
                    height 320px
                    .img
                        width 540px
                        height 320px
                    .info
                        margin-top 25px
                        padding-left 15px

